<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Rubén Hernández Rodas.

</p>
<p>
<a href="https://github.com/rubenhrodas/quiz_2017"> Repositorio GitHub </a>

<img src="/images/RubenHRodas.jpg" />

